<div class="jumbotron center">

  <h1>Blog Web Application</h1>
  <p class="white"> Start posting your articles/posts Today! </p>
  <p><a class="btn btn-primary btn-lg btn-xlarge" href="#" role="button">SignUp Now</a></p>

</div>